@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	color: white;
}

/* ::-webkit-scrollbar {
	display: none;
} */
